{% for section in site.sections %}
    {% assign menuGroup = section[0] %}
    {% assign groupHeading = section[1] %}

	<div class="panel-heading">
		<h4 class="panel-title">
			<a data-toggle="collapse" data-target="#{{ menuGroup }}" href="#0">
				{{ groupHeading }}<span class="caret"></span>
			</a>
		</h4>
	</div>

	<div id="{{ menuGroup }}" class="panel-collapse collapse">
		<div class="panel-body">
			<table class="table">

				{% for page in site.categories[menuGroup] %}
					<tr order="{{ page.order }}">
						<td>
							<a href="{{ site.baseurl }}/{{ page.url }}">
								{{ page.title }}
							</a>
						</td>
					</tr>
				{% endfor %}

			</table>
		</div>
	</div>
{% endfor %}
