<!DOCTYPE html>
<html lang="en">
	<head>
		{% include header.html %}
	</head>
	
	<body>
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a href="{{ site.baseurl }}/" class="brand">
						<img src="{{ site.baseurl }}/assets/img/C1_OSLogo_Hydrograph_RGB_FullColor_solo.svg">
					</a>
					<ul class="nav pull-right">
						<li>
							<a href="https://github.com/capitalone/Hydrograph/" target="_blank">Check out the code!</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="container main-container">
			<div class="row">
				<div class="col-md-2">
					<div class="panel-group" id="accordion">
						<div class="panel panel-default">
							{% include navigation.html %}
						</div>
					</div>
				</div>

				<div class="col-md-10">
					{{content}}
				</div>
			</div>
		</div>

    	{% include footer.html %}
  	</body>
</html>
