<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright 2017 Capital One Services, LLC and Bitwise, Inc.
    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at
    http://www.apache.org/licenses/LICENSE-2.0
    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
 -->

<plugin>
   <extension
         id="hydrograph.ui.graph.commands"
         name="Graph Commands"
         point="org.eclipse.ui.commands">
      <category
            id="hydrograph.ui.graph.newGraphcategory"
            name="New Graph Category">
      </category>
      <command
            id="hydrograph.ui.graph.command.runjob"
            name="RunJob">
      </command>
      <command
            id="hydrograph.ui.graph.stopjob"
            name="StopJob">
 	</command>
      <command
            id="hydrograph.ui.graph.command.debug"
            name="Debug">
 
      </command>
      <command
            id="hydrograph.ui.graph.command.removedebug"
            name="Remove Debug">
      </command>
      <command
            id="hydrograph.ui.propertywindow.graphProperties"
            name="Graph Properties">
      </command>
      <command
            id="hydrograph.ui.graph.command.exectrackconsole"
            name="Execution Tracking Console">
      </command>
      <command
            id="hydrograph.ui.graph.trackingHistory"
            name="Tracking History">
      </command>
        <command
            id="hydrograph.ui.graph.commentbox"
            name="Comment Box">
      </command>
      <command
            id="hydrograph.ui.graph.updateSchema"
            name="Update Schema">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="hydrograph.ui.graph.handler.JobHandler"
            commandId="hydrograph.ui.graph.command.runjob">
       <activeWhen>
   			 <with variable="activeEditorId">
       			 <equals value="hydrograph.ui.graph.etlgraphicaleditor"/>
   			 </with>
</activeWhen>
      </handler>
      <handler
            class="hydrograph.ui.graph.execution.tracking.handlers.ExecutionTrackingConsoleHandler"
            commandId="hydrograph.ui.graph.command.exectrackconsole">
         <activeWhen>
            <with
                  variable="activeEditorId">
               <equals
                     value="hydrograph.ui.graph.etlgraphicaleditor">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="hydrograph.ui.graph.handler.StopJobHandler"
            commandId="hydrograph.ui.graph.stopjob">
         <activeWhen>
            <with
                  variable="activeEditorId">
               <equals
                     value="hydrograph.ui.graph.etlgraphicaleditor">
               </equals>
            </with>
         </activeWhen>
	 </handler>
      <handler
            class="hydrograph.ui.graph.handler.RemoveDebugHandler"
            commandId="hydrograph.ui.graph.command.removedebug">
         <activeWhen>
            <with
                  variable="activeEditorId">
               <equals
                     value="hydrograph.ui.graph.etlgraphicaleditor">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="hydrograph.ui.graph.handler.GraphPropertiesHandler"
            commandId="hydrograph.ui.propertywindow.graphProperties">
         <activeWhen>
            <with
                  variable="activeEditorId">
               <equals
                     value="hydrograph.ui.graph.etlgraphicaleditor">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="hydrograph.ui.graph.handler.ViewExecutionHistoryHandler"
            commandId="hydrograph.ui.graph.trackingHistory">
         <activeWhen>
            <with
                  variable="activeEditorId">
               <equals
                     value="hydrograph.ui.graph.etlgraphicaleditor">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="hydrograph.ui.graph.handler.CommentBoxHandler"
            commandId="hydrograph.ui.graph.commentbox">
         <activeWhen>
            <with
                  variable="activeEditorId">
               <equals
                     value="hydrograph.ui.graph.etlgraphicaleditor">
               </equals>
            </with></activeWhen>
      </handler>
      <handler
            class="hydrograph.ui.graph.handler.ExternalSchemaUpdaterHandler"
            commandId="hydrograph.ui.graph.updateSchema">
      </handler>
   </extension> 
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="hydrograph.ui.graph.toolbar1"
               label="Hydrograph Toolbar">
            <command
                  commandId="org.eclipse.ui.newWizard"
                  icon="resources/icons/new_file_o.png"
                  id="hydrograph.ui.menus.NewMenu"
                  label="Job"
                  style="pulldown">
               <parameter
                     name="newWizardId"
                     value="hydrograph.ui.graph.job.wizard">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.edit.text.openLocalFile"
                  icon="resources/icons/folder_o.png"
                  label="Open File"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.save"
                  disabledIcon="resources/icons/dis_save.png"
                  icon="resources/icons/save_o.png"
                  id="hydrograph.ui.save"
                  label="Save"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAll"
                  icon="resources/icons/saveAll_o.png"
                  id="hydrograph.ui.saveAll"
                  label="Save All"
                  style="push">
            </command>
            <separator
                  name="hydrograph.ui.graph.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.edit.undo"
                  disabledIcon="resources/icons/dis_undo.png"
                  icon="resources/icons/undo_o.png"
                  id="hydrograph.ui.undo"
                  label="Undo"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.redo"
                  disabledIcon="resources/icons/dis_redo.png"
                  icon="resources/icons/redo_o.png"
                  id="hydrograph.ui.redo"
                  label="Redo"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.delete"
                  icon="resources/icons/delete.png"
                  label="Delete"
                  style="push">
            </command>
            <separator
                  name="hydrograph.ui.graph.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.edit.cut"
                  disabledIcon="resources/icons/dis_cut.png"
                  icon="resources/icons/cut_o.png"
                  label="Cut"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.copy"
                  disabledIcon="resources/icons/disable_copy_icon.png"
                  icon="resources/icons/enable_copy_icon.png"
                  label="Copy"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.paste"
                  disabledIcon="resources/icons/dis_paste.png"
                  icon="resources/icons/paste_o.png"
                  label="Paste"
                  style="push">
            </command>
            <separator
                  name="hydrograph.ui.graph.separator3"
                  visible="true">
            </separator>
            <command
                  commandId="hydrograph.ui.propertywindow.graphProperties"
                  icon="resources/icons/graph_property_window.png"
                  label="Graph Properties"
                  style="push">
            </command>
 				 
      <separator
            name="hydrograph.ui.graph.separator4">
      </separator>
      <command
            commandId="hydrograph.ui.graph.command.exectrackconsole"
            icon="resources/icons/execution_tracking_console.png"
            label="Execution Tracking Console"
            style="push">
      </command>
      <command
            commandId="hydrograph.ui.graph.command.removedebug"
            icon="resources/icons/remove_debug.png"
            label="Remove Watchers"
            style="push">
      </command>
      <command
            commandId="hydrograph.ui.graph.commentbox"
            icon="resources/icons/comment-box-icon.png"
            label="Comment Box"
            style="push">
      </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="hydrograph.ui.graph.toolbar2"
               label="View Execution History Toolbar">
            <command
                  commandId="hydrograph.ui.graph.command.runjob"
                  icon="resources/icons/run.png"
                  label="Run"
                  style="pulldown">
            </command>
            <command
                  commandId="hydrograph.ui.graph.stopjob"
                  icon="resources/icons/stop_job.png"
                  label="Stop Job">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:hydrograph.ui.graph.command.runjob">
         <command
               commandId="hydrograph.ui.graph.command.runjob"
               icon="resources/icons/run.png"
               id="hydrograph.ui.graph.command.run"
               label="Run Job"
               style="push">
         </command>
         <command
               commandId="hydrograph.ui.graph.trackingHistory"
               icon="resources/icons/replay.png"
               label="View Execution History"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:hydrograph.ui.project.structure.navigator">
         <command
               commandId="hydrograph.ui.graph.updateSchema"
               label="Update Schema"
               tooltip="Update and Propogate the schema.">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="hydrograph.ui.graph.editor.ELTGraphicalEditor"
            default="false"
            extensions="job"
            icon="resources/icons/job_icon.png"
            id="hydrograph.ui.graph.etlgraphicaleditor"
            name="ELT Graphical Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="hydrograph.ui.graph.command.runjob"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+R">
      </key>
      <key
            commandId="hydrograph.ui.graph.stopjob"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+K">
      </key>
      <key
            commandId="org.eclipse.ui.edit.text.openLocalFile"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+O">
      </key>
      <key
            commandId="org.eclipse.ui.newWizard"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+J">
         <parameter
               id="newWizardId"
               value="hydrograph.ui.graph.job.wizard">
         </parameter>
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <hiddenToolBarItem
               id="org.eclipse.ui.edit.text.gotoLastEditPosition">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.ui.navigate.next">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.search.OpenSearchDialogPage">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.ui.navigate.previous">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.jdt.ui.navigate.open.type">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.jdt.ui.edit.text.java.toggleBreadcrumb">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.jdt.ui.edit.text.java.toggleMarkOccurrences">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.ui.edit.text.toggleBlockSelectionMode">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.ui.edit.text.toggleShowWhitespaceCharacters">
         </hiddenToolBarItem>
          <hiddenToolBarItem
               id="org.eclipse.ui.externaltools.ExternalToolMenuDelegateToolbar">
         </hiddenToolBarItem> 
              
      </perspectiveExtension>
   </extension>
 <extension
       point="org.eclipse.ui.newWizards">
    <wizard
          category="hydrograph.ui.project.structure.category"
          class="hydrograph.ui.graph.handler.JobCreationWizard"
          icon="resources/icons/new_file_o.png"
          id="hydrograph.ui.graph.job.wizard"
          name="Job">
       <selection
             class="org.eclipse.core.resources.IResource">
       </selection>
    </wizard>
 </extension>
 <extension
       point="org.eclipse.ltk.core.refactoring.deleteParticipants">
    <deleteParticipant
          class="hydrograph.ui.graph.editor.JobDeleteParticipant"
          id="hydrograph.ui.graph.editor.DeleteJobParticipant"
          name="DeleteJobRelatedFiles">
       <enablement>
          <instanceof
                value="org.eclipse.core.resources.IFile">
          </instanceof></enablement>
    </deleteParticipant>
 </extension>
 <extension
       point="org.eclipse.ui.preferencePages">
    <page
          category="hydrograph.ui.Services"
          class="hydrograph.ui.graph.execution.tracking.preferences.ExecutionTrackPreference"
          id="hydrograph.ui.graph"
          name="Execution Tracking">
    </page>
    <page
          class="hydrograph.ui.graph.execution.tracking.preferences.JobRunPreference"
          id="hydrograph.ui.graph.jobRunPrefrence"
          name="Job Run">
    </page>
 </extension>
 <extension
       point="org.eclipse.ltk.core.refactoring.renameParticipants">
    <renameParticipant
          class="hydrograph.ui.graph.editor.RenameJobParticipant"
          id="hydrograph.ui.graph.jobRenameParticipant"
          name="JobRenameParticipant">
       <enablement>
          <instanceof
                value="org.eclipse.core.resources.IFile">
          </instanceof>
       </enablement>
    </renameParticipant>
 </extension>
 <extension
       point="org.eclipse.ltk.core.refactoring.copyParticipants">
    <copyParticipant
          class="hydrograph.ui.graph.editor.JobCopyParticipant"
          id="hydrograph.ui.graph.editor.JobCopyParticipant"
          name="CopyJob">
       <enablement></enablement>
    </copyParticipant>
 </extension>
 <extension
       point="org.eclipse.ui.navigator.viewer">
    <viewerActionBinding
          viewerId="hydrograph.ui.project.structure.navigator">
       <includes>
          <actionExtension
                pattern="hydrograph.ui.graph.actions.EditActionExtension">
          </actionExtension></includes>
    </viewerActionBinding>
 </extension>
 <extension
       point="org.eclipse.ui.navigator.navigatorContent">
    <actionProvider
          class="hydrograph.ui.graph.editor.CustomEditActionProvider"
          id="hydrograph.ui.graph.actions.EditActionExtension"
          overrides="org.eclipse.ui.navigator.resources.actions.EditActions"
          priority="highest">
          <enablement>
            <not>
               <systemTest
                     property="PasteSelection"
                     value="WONT-EVER-BE-SET">
               </systemTest>
            </not>
         </enablement>
    </actionProvider>
 </extension>
</plugin>
